<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars!</title>
  
  <!-- Boostrap Stylesheet -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  
    <!-- Our own CSS stylesheet -->
    <!-- Due to the code with templates. Created a directory css instead of styles. -->
  <link rel="stylesheet" href="../static/css/style.css">


</head>

<!-- The code contains multiple if statements. This is due to the mongodb library being empty. -->
<!-- As such to fill empty space created a faux page. -->
<body>
  <!-- The button at the top of the page. -->
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <!-- To change the button depending on the status of mongodb. -->
      {% if mars.feature_title == null %}
      <h1>Welcome to the Mars fanpage.</h1>
      <p>If you are here for the planet Mars. Click the button.</p>
      
      {% else %}
      <h1>Welcome to Mars</h1>
      <p>If want to see if there is anything new. Click the button.</p>
      {% endif %}
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Lets learn about Mars!</a></p>
    </div>
  </div>

  <!-- The featured title and description "Recent news." -->
  <div class="container">
    <div class = "row">
      <div class = "col-md-12">
        <h2>Recent News</h2>
        {% if mars.feature_title == null %}
        <h3>Elon Musk is ‘highly confident’ SpaceX will land humans on Mars by 2026</h3>
        <p>“If we get lucky, maybe four years,” Musk said</p>
        {% else %}
        
        <h3>{{ mars.feature_title }}</h3>
        <p>{{ mars.feature_description }}</p>
        {% endif %}
      </div>
    </div>

    <!-- The first row. Featured image and table. -->
    <div class = "row">
      <div class="col-md-6">
        {% if mars.featured_url == null %}
        <h3>Featured Image for today.</h3>
        <img src="https://media.gq.com/photos/57eac35d9228bbed3f6f4ee5/16:9/w_2560%2Cc_limit/elon-musk-is-a-rocket.jpg" alt="Featured Mars" id="feature_image">
        {% else %}
        <h3>Featured Image for today.</h3>
        <img src="{{ mars.featured_url }}" alt="Featured Mars" id="feature_image">
        {% endif %}
      </div>
      
      <!-- The table for mars facts -->
      <div class="col-md-6">
        {% if mars.table1 == null %}
        {% else %}
        <h3>Mar's Facts</h3>
        {{ mars.table1|safe }}
        {% endif %}
      </div>
    </div>

    <!-- Beginning of the next row. -->
    {% if mars.hemi1 == null %}
    <h2>Trending Mars</h2>
    {% else %}
    <h2>Mar's hemispheres look like this!</h2>
    {% endif %}

    <!-- The next row that will contain the hemispheres of mars. -->
    <!-- The first hemisphere, Cerberus Hemisphere -->
    <div class="row">
      <div class="col-md-6">
        {% if mars.hemi1 == null %}
        <h3>Sailor Mars</h3>
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d397d35c-c842-4776-9d23-5e40febe714b/de1vv44-2436f0aa-dbdf-4166-85a7-5f7da1f60836.png/v1/fill/w_1600,h_3045,strp/sickly_sailor_mars__face_mask_akuryo_taisan__by_glee_chan_de1vv44-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0zMDQ1IiwicGF0aCI6IlwvZlwvZDM5N2QzNWMtYzg0Mi00Nzc2LTlkMjMtNWU0MGZlYmU3MTRiXC9kZTF2djQ0LTI0MzZmMGFhLWRiZGYtNDE2Ni04NWE3LTVmN2RhMWY2MDgzNi5wbmciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.9kmJu_F2lKQ8KPVkwPUQ0mKmETi-LKHbFkkch-SKgd0" alt="mars hemisphere"class="resize">
        {% else %}
        <h3>{{mars.hemi1.title}}</h3>
        <img src="{{ mars.hemi1.image }}" alt="mars hemisphere"class="resize">
        {% endif %}
      </div>
      
      <!-- The second hemisphere, Schiaparelli Hemisphere -->
      <div class="col-md-6">
        {% if mars.hemi2 == null %}
        <h3>Mars(Aeres)</h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/97/0_Statue_de_Mars_%28Pyrrhus%29_-_Musei_Capitolini_-_MC0058_%282%29.JPG" alt="mars hemisphere"class="resize">
        {% else %}
        <h3>{{mars.hemi2.title}}</h3>
        <img src="{{ mars.hemi2.image }}" alt="mars hemisphere"class="resize">
        {% endif %}
      </div>
    </div>

    <!-- The next row of hemispheres. -->
    <!-- The third hemisphere, Syrtis Major Hemisphere -->
    <div class="row">
      <div class="col-md-6">
        {% if mars.hemi3 == null %}
        <h3>Bruno Mars</h3>
        <img src="https://www.washingtonian.com/wp-content/uploads/2017/12/WW.bruno_.jpg" alt="mars hemisphere"class="resize">
        {% else %}
        <h3>{{mars.hemi3.title}}</h3>
        <img src="{{ mars.hemi3.image }}" alt="mars hemisphere"class="resize">
        {% endif %}
      </div>

      <!-- The fourth hemisphere, Valles Marineris Hemisphere Hemisphere -->
      <div class="col-md-6">
        {% if mars.hemi4 == null %}
        <h3>Veronica Mars</h3>
        <img src="https://img1.looper.com/img/gallery/veronica-mars-season-5-release-date-cast-and-plot/intro-1567603353.jpg" alt="mars hemisphere"class="resize">
        {% else %}
        <h3>{{mars.hemi4.title}}</h3>
        <img src="{{ mars.hemi4.image }}" alt="mars hemisphere"class="resize">
        {% endif %}
      </div>

    </div>
  </div>
    
</body>
</html>